.wrapper {
    background-image: url('../../public/WAGNER.png');
    background-size: 1500px 500px;
    background-repeat: no-repeat;

}
.login-box-body {
    background-color: #eee;
}
.login-box button {
    margin-left: 0px;
}
.login-box a:hover {
    cursor: pointer;
}
